:root {
  color-scheme: dark;
  background: #09090b;
}

html,
body,
#root {
  width: 400px;
  min-width: 400px;
  height: 600px;
  min-height: 600px;
  margin: 0;
  overflow: hidden;
}

button,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
